# ANALAYSIS ON ARABLE PRODUCTION OF CEREAL CROPS IN IRELAND

## A CRISP-DM approach was used in this research

### STEP 1: Importing Relevant Libraries for Data Exploration and Analysis

In [1]:
# Importing the relevant libraries
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 
%matplotlib inline
sns.set(color_codes=True)
import statistics
import warnings
warnings.filterwarnings('ignore')

### STEP 2: Loading & Exploring Data on Cereal Crops in Ireland(source: Central Statistics Office)

In [2]:
# loading data into the data frame
df_cereals = pd.read_csv("AQA04.20221222T221238.csv")

In [3]:
# Displaying the top five rows in the data set
df_cereals.head()

    Statistic Label  Year   Type of Crop          UNIT  VALUE
0  Area under Crops  2008   Winter wheat  000 Hectares   87.5
1  Area under Crops  2008   Spring wheat  000 Hectares   23.2
2  Area under Crops  2008    Winter oats  000 Hectares   18.7
3  Area under Crops  2008    Spring oats  000 Hectares    4.2
4  Area under Crops  2008  Winter barley  000 Hectares   21.1

In [4]:
# Displaying the last five rows in the data set
df_cereals.tail()

     Statistic Label  Year   Type of Crop        UNIT  VALUE
247  Crop Production  2021   Spring wheat  000 Tonnes   52.7
248  Crop Production  2021    Winter oats  000 Tonnes  126.9
249  Crop Production  2021    Spring oats  000 Tonnes  111.4
250  Crop Production  2021  Winter barley  000 Tonnes  638.8
251  Crop Production  2021  Spring barley  000 Tonnes  917.6

In [5]:
# Displaying the info of the data set
# checking for data types because sometimes variables may be stored as string or an object
df_cereals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Statistic Label  252 non-null    object
 1   Year             252 non-null    int64
 2   Type of Crop     252 non-null    object
 3   UNIT             252 non-null    object
 4   VALUE            252 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 10.0+ KB

In [6]:
# Checking for missing values
print(df_cereals.isnull().sum())

Statistic Label    0
Year               0
Type of Crop       0
UNIT               0
VALUE              0
dtype: int64

In [7]:
# Function to Count the frequency of all values in a column
def count_values(df, column):
    counts = df[column].value_counts()
    return counts

df = df_cereals
counts = count_values(df, 'Statistic Label')
print(counts)

Area under Crops          84
Crop Yield per Hectare    84
Crop Production           84
Name: Statistic Label, dtype: int64

In [8]:
# Create a pivot table with the "Statistic Label", "Year", "UNIT" columns as the index,
# the "Type of Crop" column as the columns, and the 'VALUE' column as the values
irish_cer = df_cereals.pivot_table(index=["Statistic Label","Year","UNIT"], columns="Type of Crop", values="VALUE")

In [9]:
# Loading the pivotted table
irish_cer.head()

Type of Crop                        Spring barley  Spring oats  Spring wheat  \
Statistic Label  Year UNIT
Area under Crops 2008 000 Hectares          166.0          4.2          23.2
                 2009 000 Hectares          174.3         11.3          20.2
                 2010 000 Hectares          146.0          9.4          18.0
                 2011 000 Hectares          144.8         12.4          16.4
                 2012 000 Hectares          151.8         13.8          13.5

Type of Crop                        Winter barley  Winter oats  Winter wheat
Statistic Label  Year UNIT
Area under Crops 2008 000 Hectares           21.1         18.7          87.5
                 2009 000 Hectares           19.3          9.1          64.3
                 2010 000 Hectares           28.8         10.3          59.8
                 2011 000 Hectares           35.9          9.0          77.7
                 2012 000 Hectares           41.0          9.9          84.6

In [10]:
# resetting the index to view & manipulate data
irish_cer.reset_index(inplace = True)
irish_cer

Type of Crop,Statistic Label,Year,UNIT,Spring barley,Spring oats,Spring wheat,Winter barley,Winter oats,Winter wheat
0,Area under Crops,2008,000 Hectares,166.0,4.2,23.2,21.1,18.7,87.5
1,Area under Crops,2009,000 Hectares,174.3,11.3,20.2,19.3,9.1,64.3
2,Area under Crops,2010,000 Hectares,146.0,9.4,18.0,28.8,10.3,59.8
3,Area under Crops,2011,000 Hectares,144.8,12.4,16.4,35.9,9.0,77.7
4,Area under Crops,2012,000 Hectares,151.8,13.8,13.5,41.0,9.9,84.6
5,Area under Crops,2013,000 Hectares,183.5,21.3,15.2,36.0,5.4,45.4
6,Area under Crops,2014,000 Hectares,155.6,8.5,6.5,60.1,10.1,65.1
7,Area under Crops,2015,000 Hectares,133.0,12.1,10.1,69.8,11.4,55.3
8,Area under Crops,2016,000 Hectares,114.6,10.0,7.5,74.6,13.2,60.4
9,Area under Crops,2017,000 Hectares,115.2,10.0,6.8,65.0,14.4,60.3
10,Area under Crops,2018,000 Hectares,127.4,7.6,3.6,57.9,10.2,54.4
11,Area under Crops,2019,000 Hectares,96.5,7.2,3.8,82.8,16.6,59.7
12,Area under Crops,2020,000 Hectares,141.7,17.2,11.5,51.5,8.3,35.4
13,Area under Crops,2021,000 Hectares,116.4,14.5,6.1,67.5,13.9,56.2
14,Crop Production,2008,000 Tonnes,1112.4,26.4,153.0,181.8,147.9,839.9
15,Crop Production,2009,000 Tonnes,1063.1,74.4,137.4,164.2,71.3,552.7
16,Crop Production,2010,000 Tonnes,977.9,67.6,137.2,245.1,80.5,532.0
17,Crop Production,2011,000 Tonnes,1085.8,97.6,136.4,326.3,70.5,792.9
18,Crop Production,2012,000 Tonnes,940.9,88.4,82.2,319.8,68.2,625.7
19,Crop Production,2013,000 Tonnes,1320.9,149.1,123.3,341.8,43.4,422.1
20,Crop Production,2014,000 Tonnes,1172.5,61.9,53.6,558.7,87.8,663.4
21,Crop Production,2015,000 Tonnes,1027.4,93.0,86.5,711.9,104.7,610.1
22,Crop Production,2016,000 Tonnes,835.5,73.0,60.3,644.4,110.3,587.5
23,Crop Production,2017,000 Tonnes,913.7,76.4,55.2,592.2,128.7,626.6
24,Crop Production,2018,000 Tonnes,716.1,42.2,22.2,508.8,80.1,484.6
25,Crop Production,2019,000 Tonnes,776.7,55.5,31.4,780.8,147.2,604.6
26,Crop Production,2020,000 Tonnes,1004.0,122.3,85.4,426.3,67.6,307.6
27,Crop Production,2021,000 Tonnes,917.6,111.4,52.7,638.8,126.9,609.7
28,Crop Yield per Hectare,2008,Tonnes,6.7,6.3,6.6,8.6,7.9,9.6
29,Crop Yield per Hectare,2009,Tonnes,6.1,6.6,6.8,8.5,7.8,8.6
30,Crop Yield per Hectare,2010,Tonnes,6.7,7.2,7.6,8.5,7.8,8.9
31,Crop Yield per Hectare,2011,Tonnes,7.5,7.9,8.3,9.1,7.8,10.2
32,Crop Yield per Hectare,2012,Tonnes,6.2,6.4,6.1,7.8,6.9,7.4
33,Crop Yield per Hectare,2013,Tonnes,7.2,7.0,8.1,9.5,8.1,9.3
34,Crop Yield per Hectare,2014,Tonnes,7.5,7.3,8.3,9.3,8.7,10.2
35,Crop Yield per Hectare,2015,Tonnes,7.7,7.7,8.6,10.2,9.2,11.0
36,Crop Yield per Hectare,2016,Tonnes,7.3,7.3,8.0,8.6,8.3,9.7
37,Crop Yield per Hectare,2017,Tonnes,7.9,7.6,8.2,9.1,8.9,10.4
38,Crop Yield per Hectare,2018,Tonnes,5.6,5.6,6.2,8.8,7.9,8.9
39,Crop Yield per Hectare,2019,Tonnes,8.0,7.7,8.3,9.4,8.9,10.1
40,Crop Yield per Hectare,2020,Tonnes,7.1,7.1,7.4,8.3,8.2,8.7
41,Crop Yield per Hectare,2021,Tonnes,7.9,7.7,8.7,9.5,9.1,10.8

In [11]:
irish_cer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Statistic Label  42 non-null     object
 1   Year             42 non-null     int64
 2   UNIT             42 non-null     object
 3   Spring barley    42 non-null     float64
 4   Spring oats      42 non-null     float64
 5   Spring wheat     42 non-null     float64
 6   Winter barley    42 non-null     float64
 7   Winter oats      42 non-null     float64
 8   Winter wheat     42 non-null     float64
dtypes: float64(6), int64(1), object(2)
memory usage: 3.1+ KB

In [12]:
# frequency of values in the "Static label" column
df = irish_cer
counts = count_values(df, 'Statistic Label')
print(counts)

Area under Crops          14
Crop Production           14
Crop Yield per Hectare    14
Name: Statistic Label, dtype: int64

In [13]:
# Replacing 'Statistic Label' values with more descriptive names
irish_cer['Statistic Label'] = irish_cer['Statistic Label'].replace({'Area under Crops': 'Area under Crops(000ha)', 
                                                                   'Crop Production': 'Crop Production(000tonnes)',
                                                                   'Crop Yield per Hectare': 'Crop Yield per ha(tonnes)'})

In [14]:
irish_cer

Type of Crop,Statistic Label,Year,UNIT,Spring barley,Spring oats,Spring wheat,Winter barley,Winter oats,Winter wheat
0,Area under Crops(000ha),2008,000 Hectares,166.0,4.2,23.2,21.1,18.7,87.5
1,Area under Crops(000ha),2009,000 Hectares,174.3,11.3,20.2,19.3,9.1,64.3
2,Area under Crops(000ha),2010,000 Hectares,146.0,9.4,18.0,28.8,10.3,59.8
3,Area under Crops(000ha),2011,000 Hectares,144.8,12.4,16.4,35.9,9.0,77.7
4,Area under Crops(000ha),2012,000 Hectares,151.8,13.8,13.5,41.0,9.9,84.6
5,Area under Crops(000ha),2013,000 Hectares,183.5,21.3,15.2,36.0,5.4,45.4
6,Area under Crops(000ha),2014,000 Hectares,155.6,8.5,6.5,60.1,10.1,65.1
7,Area under Crops(000ha),2015,000 Hectares,133.0,12.1,10.1,69.8,11.4,55.3
8,Area under Crops(000ha),2016,000 Hectares,114.6,10.0,7.5,74.6,13.2,60.4
9,Area under Crops(000ha),2017,000 Hectares,115.2,10.0,6.8,65.0,14.4,60.3
10,Area under Crops(000ha),2018,000 Hectares,127.4,7.6,3.6,57.9,10.2,54.4
11,Area under Crops(000ha),2019,000 Hectares,96.5,7.2,3.8,82.8,16.6,59.7
12,Area under Crops(000ha),2020,000 Hectares,141.7,17.2,11.5,51.5,8.3,35.4
13,Area under Crops(000ha),2021,000 Hectares,116.4,14.5,6.1,67.5,13.9,56.2
14,Crop Production(000tonnes),2008,000 Tonnes,1112.4,26.4,153.0,181.8,147.9,839.9
15,Crop Production(000tonnes),2009,000 Tonnes,1063.1,74.4,137.4,164.2,71.3,552.7
16,Crop Production(000tonnes),2010,000 Tonnes,977.9,67.6,137.2,245.1,80.5,532.0
17,Crop Production(000tonnes),2011,000 Tonnes,1085.8,97.6,136.4,326.3,70.5,792.9
18,Crop Production(000tonnes),2012,000 Tonnes,940.9,88.4,82.2,319.8,68.2,625.7
19,Crop Production(000tonnes),2013,000 Tonnes,1320.9,149.1,123.3,341.8,43.4,422.1
20,Crop Production(000tonnes),2014,000 Tonnes,1172.5,61.9,53.6,558.7,87.8,663.4
21,Crop Production(000tonnes),2015,000 Tonnes,1027.4,93.0,86.5,711.9,104.7,610.1
22,Crop Production(000tonnes),2016,000 Tonnes,835.5,73.0,60.3,644.4,110.3,587.5
23,Crop Production(000tonnes),2017,000 Tonnes,913.7,76.4,55.2,592.2,128.7,626.6
24,Crop Production(000tonnes),2018,000 Tonnes,716.1,42.2,22.2,508.8,80.1,484.6
25,Crop Production(000tonnes),2019,000 Tonnes,776.7,55.5,31.4,780.8,147.2,604.6
26,Crop Production(000tonnes),2020,000 Tonnes,1004.0,122.3,85.4,426.3,67.6,307.6
27,Crop Production(000tonnes),2021,000 Tonnes,917.6,111.4,52.7,638.8,126.9,609.7
28,Crop Yield per ha(tonnes),2008,Tonnes,6.7,6.3,6.6,8.6,7.9,9.6
29,Crop Yield per ha(tonnes),2009,Tonnes,6.1,6.6,6.8,8.5,7.8,8.6
30,Crop Yield per ha(tonnes),2010,Tonnes,6.7,7.2,7.6,8.5,7.8,8.9
31,Crop Yield per ha(tonnes),2011,Tonnes,7.5,7.9,8.3,9.1,7.8,10.2
32,Crop Yield per ha(tonnes),2012,Tonnes,6.2,6.4,6.1,7.8,6.9,7.4
33,Crop Yield per ha(tonnes),2013,Tonnes,7.2,7.0,8.1,9.5,8.1,9.3
34,Crop Yield per ha(tonnes),2014,Tonnes,7.5,7.3,8.3,9.3,8.7,10.2
35,Crop Yield per ha(tonnes),2015,Tonnes,7.7,7.7,8.6,10.2,9.2,11.0
36,Crop Yield per ha(tonnes),2016,Tonnes,7.3,7.3,8.0,8.6,8.3,9.7
37,Crop Yield per ha(tonnes),2017,Tonnes,7.9,7.6,8.2,9.1,8.9,10.4
38,Crop Yield per ha(tonnes),2018,Tonnes,5.6,5.6,6.2,8.8,7.9,8.9
39,Crop Yield per ha(tonnes),2019,Tonnes,8.0,7.7,8.3,9.4,8.9,10.1
40,Crop Yield per ha(tonnes),2020,Tonnes,7.1,7.1,7.4,8.3,8.2,8.7
41,Crop Yield per ha(tonnes),2021,Tonnes,7.9,7.7,8.7,9.5,9.1,10.8

In [15]:
# Dropping the "UNIT" column because its description has been added to the "Statistic Label" column
irish_cer = irish_cer.drop(columns=["UNIT"])
irish_cer

Type of Crop,Statistic Label,Year,Spring barley,Spring oats,Spring wheat,Winter barley,Winter oats,Winter wheat
0,Area under Crops(000ha),2008,166.0,4.2,23.2,21.1,18.7,87.5
1,Area under Crops(000ha),2009,174.3,11.3,20.2,19.3,9.1,64.3
2,Area under Crops(000ha),2010,146.0,9.4,18.0,28.8,10.3,59.8
3,Area under Crops(000ha),2011,144.8,12.4,16.4,35.9,9.0,77.7
4,Area under Crops(000ha),2012,151.8,13.8,13.5,41.0,9.9,84.6
5,Area under Crops(000ha),2013,183.5,21.3,15.2,36.0,5.4,45.4
6,Area under Crops(000ha),2014,155.6,8.5,6.5,60.1,10.1,65.1
7,Area under Crops(000ha),2015,133.0,12.1,10.1,69.8,11.4,55.3
8,Area under Crops(000ha),2016,114.6,10.0,7.5,74.6,13.2,60.4
9,Area under Crops(000ha),2017,115.2,10.0,6.8,65.0,14.4,60.3
10,Area under Crops(000ha),2018,127.4,7.6,3.6,57.9,10.2,54.4
11,Area under Crops(000ha),2019,96.5,7.2,3.8,82.8,16.6,59.7
12,Area under Crops(000ha),2020,141.7,17.2,11.5,51.5,8.3,35.4
13,Area under Crops(000ha),2021,116.4,14.5,6.1,67.5,13.9,56.2
14,Crop Production(000tonnes),2008,1112.4,26.4,153.0,181.8,147.9,839.9
15,Crop Production(000tonnes),2009,1063.1,74.4,137.4,164.2,71.3,552.7
16,Crop Production(000tonnes),2010,977.9,67.6,137.2,245.1,80.5,532.0
17,Crop Production(000tonnes),2011,1085.8,97.6,136.4,326.3,70.5,792.9
18,Crop Production(000tonnes),2012,940.9,88.4,82.2,319.8,68.2,625.7
19,Crop Production(000tonnes),2013,1320.9,149.1,123.3,341.8,43.4,422.1
20,Crop Production(000tonnes),2014,1172.5,61.9,53.6,558.7,87.8,663.4
21,Crop Production(000tonnes),2015,1027.4,93.0,86.5,711.9,104.7,610.1
22,Crop Production(000tonnes),2016,835.5,73.0,60.3,644.4,110.3,587.5
23,Crop Production(000tonnes),2017,913.7,76.4,55.2,592.2,128.7,626.6
24,Crop Production(000tonnes),2018,716.1,42.2,22.2,508.8,80.1,484.6
25,Crop Production(000tonnes),2019,776.7,55.5,31.4,780.8,147.2,604.6
26,Crop Production(000tonnes),2020,1004.0,122.3,85.4,426.3,67.6,307.6
27,Crop Production(000tonnes),2021,917.6,111.4,52.7,638.8,126.9,609.7
28,Crop Yield per ha(tonnes),2008,6.7,6.3,6.6,8.6,7.9,9.6
29,Crop Yield per ha(tonnes),2009,6.1,6.6,6.8,8.5,7.8,8.6
30,Crop Yield per ha(tonnes),2010,6.7,7.2,7.6,8.5,7.8,8.9
31,Crop Yield per ha(tonnes),2011,7.5,7.9,8.3,9.1,7.8,10.2
32,Crop Yield per ha(tonnes),2012,6.2,6.4,6.1,7.8,6.9,7.4
33,Crop Yield per ha(tonnes),2013,7.2,7.0,8.1,9.5,8.1,9.3
34,Crop Yield per ha(tonnes),2014,7.5,7.3,8.3,9.3,8.7,10.2
35,Crop Yield per ha(tonnes),2015,7.7,7.7,8.6,10.2,9.2,11.0
36,Crop Yield per ha(tonnes),2016,7.3,7.3,8.0,8.6,8.3,9.7
37,Crop Yield per ha(tonnes),2017,7.9,7.6,8.2,9.1,8.9,10.4
38,Crop Yield per ha(tonnes),2018,5.6,5.6,6.2,8.8,7.9,8.9
39,Crop Yield per ha(tonnes),2019,8.0,7.7,8.3,9.4,8.9,10.1
40,Crop Yield per ha(tonnes),2020,7.1,7.1,7.4,8.3,8.2,8.7
41,Crop Yield per ha(tonnes),2021,7.9,7.7,8.7,9.5,9.1,10.8

### STEP 3: Loading & Exploring Data on Cereal Crops Worldwide in Comparison to Ireland(source: World Bank)

#### DATA SET 1: Cereal Production in Metric Tonnes
* Load the Data set
* Perform EDA on the data set

In [16]:
# loading data set on cereal production in metric tonnes
df_prod = pd.read_csv("API_AG.PRD.CREL.MT_DS2_en_csv_v2_4772045.csv")

In [17]:
# Displaying the head of data set 1
df_prod.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Cereal production (metric tons),AG.PRD.CREL.MT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Cereal production (metric tons),AG.PRD.CREL.MT,NaN,17059517.0,17673768.0,18093367.0,16734227.0,17018761.0,...,76507660.0,80427044.0,90152808.0,79223273.0,82273939.0,94106309.0,94650120.0,90200861.0,97955319.0,NaN
2,Afghanistan,AFG,Cereal production (metric tons),AG.PRD.CREL.MT,NaN,3695000.0,3696000.0,3378000.0,3732000.0,3785000.0,...,6379000.0,6520329.0,6748023.0,5808288.0,5532695.0,4894365.0,4134191.0,5583461.0,6025977.0,NaN
3,Africa Western and Central,AFW,Cereal production (metric tons),AG.PRD.CREL.MT,NaN,15199359.0,16249447.0,16419357.0,16367923.0,16309479.0,...,60132437.0,57631047.0,62793664.0,66126114.0,71055876.0,70550388.0,76159885.0,77816712.0,78462572.0,NaN
4,Angola,AGO,Cereal production (metric tons),AG.PRD.CREL.MT,NaN,544000.0,543000.0,515000.0,564000.0,562000.0,...,509545.0,1674598.0,1823231.0,2019544.0,2363287.0,2496354.0,2876750.0,2920433.0,2427955.0,NaN

In [18]:
# Displaying the tail of data set 1
df_prod.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
261,Kosovo,XKX,Cereal production (metric tons),AG.PRD.CREL.MT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Cereal production (metric tons),AG.PRD.CREL.MT,NaN,938400.0,963100.0,978600.0,1002700.0,995900.0,...,909741.0,863334.0,699962.0,459246.0,357068.0,358355.0,344648.0,456714.0,447496.0,NaN
263,South Africa,ZAF,Cereal production (metric tons),AG.PRD.CREL.MT,NaN,6696635.0,7089341.0,7458814.0,5838900.0,5844000.0,...,14556168.0,14154568.0,16617349.0,11908002.0,10193885.0,18860592.0,14971803.0,13323672.0,18237226.0,NaN
264,Zambia,ZMB,Cereal production (metric tons),AG.PRD.CREL.MT,NaN,766608.0,748934.0,676717.0,773214.0,816214.0,...,3210649.0,2901568.0,3652301.0,2900164.0,3110868.0,3895117.0,2602943.0,2223127.0,3685484.0,NaN
265,Zimbabwe,ZWE,Cereal production (metric tons),AG.PRD.CREL.MT,NaN,1266453.0,1225137.0,1030933.0,1028799.0,1134571.0,...,1284472.0,1152560.0,1230995.0,800286.0,676748.0,1748001.0,1777331.0,665633.0,1598038.0,NaN

In [19]:
# Displaying the info of the data set 1
# checking for data types because sometimes variables may be stored as string or an object
df_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 66 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            0 non-null      float64
 5   1961            192 non-null    float64
 6   1962            192 non-null    float64
 7   1963            192 non-null    float64
 8   1964            192 non-null    float64
 9   1965            192 non-null    float64
 10  1966            193 non-null    float64
 11  1967            193 non-null    float64
 12  1968            194 non-null    float64
 13  1969            194 non-null    float64
 14  1970            194 non-null    float64
 15  1971            195 non-null    float64
 16  1972            195 non-null    float64
 17  1973            195 non-null    float64
 18  1974            195 non-null    float64
 19  1975            195 non-null    float64
 20  1976            195 non-null    float64
 21  1977            196 non-null    float64
 22  1978            196 non-null    float64
 23  1979            196 non-null    float64
 24  1980            196 non-null    float64
 25  1981            196 non-null    float64
 26  1982            196 non-null    float64
 27  1983            196 non-null    float64
 28  1984            196 non-null    float64
 29  1985            196 non-null    float64
 30  1986            196 non-null    float64
 31  1987            196 non-null    float64
 32  1988            196 non-null    float64
 33  1989            196 non-null    float64
 34  1990            196 non-null    float64
 35  1991            197 non-null    float64
 36  1992            216 non-null    float64
 37  1993            220 non-null    float64
 38  1994            221 non-null    float64
 39  1995            221 non-null    float64
 40  1996            221 non-null    float64
 41  1997            221 non-null    float64
 42  1998            221 non-null    float64
 43  1999            221 non-null    float64
 44  2000            223 non-null    float64
 45  2001            223 non-null    float64
 46  2002            223 non-null    float64
 47  2003            223 non-null    float64
 48  2004            223 non-null    float64
 49  2005            223 non-null    float64
 50  2006            225 non-null    float64
 51  2007            225 non-null    float64
 52  2008            225 non-null    float64
 53  2009            225 non-null    float64
 54  2010            225 non-null    float64
 55  2011            225 non-null    float64
 56  2012            227 non-null    float64
 57  2013            227 non-null    float64
 58  2014            227 non-null    float64
 59  2015            228 non-null    float64
 60  2016            228 non-null    float64
 61  2017            229 non-null    float64
 62  2018            229 non-null    float64
 63  2019            229 non-null    float64
 64  2020            229 non-null    float64
 65  2021            0 non-null      float64
dtypes: float64(62), object(4)
memory usage: 137.3+ KB

In [20]:
# Check if there are 'Not A Number' (NaN) values, also known as missing data, in the dataset columns
df_prod_missing =df_prod.isna()
df_prod_missing.head(100)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
96,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
97,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
98,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
99,False,False,False,False,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,True

In [21]:
# Function to check for missing values and replace them with zeros
def fill_missing_values(df_prod):
    # Check for missing values
    missing = df_prod.isnull().sum()
    
    # Replace missing values with 0
    df_prod = df_prod.fillna(0)
      
    return df_prod

In [22]:
# Fill missing values with 0
df_prod = fill_missing_values(df_prod)
df_prod

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Cereal production (metric tons),AG.PRD.CREL.MT,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Africa Eastern and Southern,AFE,Cereal production (metric tons),AG.PRD.CREL.MT,0.0,17059517.0,17673768.0,18093367.0,16734227.0,17018761.0,...,76507660.0,80427044.0,90152808.0,79223273.0,82273939.0,94106309.0,94650120.0,90200861.0,97955319.0,0.0
2,Afghanistan,AFG,Cereal production (metric tons),AG.PRD.CREL.MT,0.0,3695000.0,3696000.0,3378000.0,3732000.0,3785000.0,...,6379000.0,6520329.0,6748023.0,5808288.0,5532695.0,4894365.0,4134191.0,5583461.0,6025977.0,0.0
3,Africa Western and Central,AFW,Cereal production (metric tons),AG.PRD.CREL.MT,0.0,15199359.0,16249447.0,16419357.0,16367923.0,16309479.0,...,60132437.0,57631047.0,62793664.0,66126114.0,71055876.0,70550388.0,76159885.0,77816712.0,78462572.0,0.0
4,Angola,AGO,Cereal production (metric tons),AG.PRD.CREL.MT,0.0,544000.0,543000.0,515000.0,564000.0,562000.0,...,509545.0,1674598.0,1823231.0,2019544.0,2363287.0,2496354.0,2876750.0,2920433.0,2427955.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Cereal production (metric tons),AG.PRD.CREL.MT,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262,"Yemen, Rep.",YEM,Cereal production (metric tons),AG.PRD.CREL.MT,0.0,938400.0,963100.0,978600.0,1002700.0,995900.0,...,909741.0,863334.0,699962.0,459246.0,357068.0,358355.0,344648.0,456714.0,447496.0,0.0
263,South Africa,ZAF,Cereal production (metric tons),AG.PRD.CREL.MT,0.0,6696635.0,7089341.0,7458814.0,5838900.0,5844000.0,...,14556168.0,14154568.0,16617349.0,11908002.0,10193885.0,18860592.0,14971803.0,13323672.0,18237226.0,0.0
264,Zambia,ZMB,Cereal production (metric tons),AG.PRD.CREL.MT,0.0,766608.0,748934.0,676717.0,773214.0,816214.0,...,3210649.0,2901568.0,3652301.0,2900164.0,3110868.0,3895117.0,2602943.0,2223127.0,3685484.0,0.0
265,Zimbabwe,ZWE,Cereal production (metric tons),AG.PRD.CREL.MT,0.0,1266453.0,1225137.0,1030933.0,1028799.0,1134571.0,...,1284472.0,1152560.0,1230995.0,800286.0,676748.0,1748001.0,1777331.0,665633.0,1598038.0,0.0

In [23]:
# checking on the description of the values of the column "1960"
df_prod["1960"].describe

<bound method NDFrame.describe of 0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
261    0.0
262    0.0
263    0.0
264    0.0
265    0.0
Name: 1960, Length: 266, dtype: float64>

In [24]:
# dropping the column "1960" because it has no values
df_prod = df_prod.drop(columns=["1960"])
df_prod

,Country Name,Country Code,Indicator Name,Indicator Code,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Cereal production (metric tons),AG.PRD.CREL.MT,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Africa Eastern and Southern,AFE,Cereal production (metric tons),AG.PRD.CREL.MT,17059517.0,17673768.0,18093367.0,16734227.0,17018761.0,17799611.0,...,76507660.0,80427044.0,90152808.0,79223273.0,82273939.0,94106309.0,94650120.0,90200861.0,97955319.0,0.0
2,Afghanistan,AFG,Cereal production (metric tons),AG.PRD.CREL.MT,3695000.0,3696000.0,3378000.0,3732000.0,3785000.0,3489000.0,...,6379000.0,6520329.0,6748023.0,5808288.0,5532695.0,4894365.0,4134191.0,5583461.0,6025977.0,0.0
3,Africa Western and Central,AFW,Cereal production (metric tons),AG.PRD.CREL.MT,15199359.0,16249447.0,16419357.0,16367923.0,16309479.0,14568709.0,...,60132437.0,57631047.0,62793664.0,66126114.0,71055876.0,70550388.0,76159885.0,77816712.0,78462572.0,0.0
4,Angola,AGO,Cereal production (metric tons),AG.PRD.CREL.MT,544000.0,543000.0,515000.0,564000.0,562000.0,502000.0,...,509545.0,1674598.0,1823231.0,2019544.0,2363287.0,2496354.0,2876750.0,2920433.0,2427955.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Cereal production (metric tons),AG.PRD.CREL.MT,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262,"Yemen, Rep.",YEM,Cereal production (metric tons),AG.PRD.CREL.MT,938400.0,963100.0,978600.0,1002700.0,995900.0,918300.0,...,909741.0,863334.0,699962.0,459246.0,357068.0,358355.0,344648.0,456714.0,447496.0,0.0
263,South Africa,ZAF,Cereal production (metric tons),AG.PRD.CREL.MT,6696635.0,7089341.0,7458814.0,5838900.0,5844000.0,6183711.0,...,14556168.0,14154568.0,16617349.0,11908002.0,10193885.0,18860592.0,14971803.0,13323672.0,18237226.0,0.0
264,Zambia,ZMB,Cereal production (metric tons),AG.PRD.CREL.MT,766608.0,748934.0,676717.0,773214.0,816214.0,892081.0,...,3210649.0,2901568.0,3652301.0,2900164.0,3110868.0,3895117.0,2602943.0,2223127.0,3685484.0,0.0
265,Zimbabwe,ZWE,Cereal production (metric tons),AG.PRD.CREL.MT,1266453.0,1225137.0,1030933.0,1028799.0,1134571.0,1212978.0,...,1284472.0,1152560.0,1230995.0,800286.0,676748.0,1748001.0,1777331.0,665633.0,1598038.0,0.0

In [25]:
df_prod=df_prod.melt(id_vars=["Country Name","Country Code","Indicator Name","Indicator Code"],
                    var_name="Date",
                    value_name="Cereals")

In [29]:
df_prod.head(100)

,Country Name,Country Code,Indicator Name,Indicator Code,Date,Cereals
0,Aruba,ABW,Cereal production (metric tons),AG.PRD.CREL.MT,1961,0.0
1,Africa Eastern and Southern,AFE,Cereal production (metric tons),AG.PRD.CREL.MT,1961,17059517.0
2,Afghanistan,AFG,Cereal production (metric tons),AG.PRD.CREL.MT,1961,3695000.0
3,Africa Western and Central,AFW,Cereal production (metric tons),AG.PRD.CREL.MT,1961,15199359.0
4,Angola,AGO,Cereal production (metric tons),AG.PRD.CREL.MT,1961,544000.0
...,...,...,...,...,...,...
95,High income,HIC,Cereal production (metric tons),AG.PRD.CREL.MT,1961,346184048.0
96,"Hong Kong SAR, China",HKG,Cereal production (metric tons),AG.PRD.CREL.MT,1961,29891.0
97,Honduras,HND,Cereal production (metric tons),AG.PRD.CREL.MT,1961,318005.0
98,Heavily indebted poor countries (HIPC),HPC,Cereal production (metric tons),AG.PRD.CREL.MT,1961,19423240.0
99,Croatia,HRV,Cereal production (metric tons),AG.PRD.CREL.MT,1961,0.0

In [32]:
# Rename the 'Cereals' column to 'Cereals(metric tons)'
df_prod1 = df_prod.rename(columns={'Cereals': 'Cereals(metric tons)'})
df_prod1

,Country Name,Country Code,Indicator Name,Indicator Code,Date,Cereals(metric tons)
0,Aruba,ABW,Cereal production (metric tons),AG.PRD.CREL.MT,1961,0.0
1,Africa Eastern and Southern,AFE,Cereal production (metric tons),AG.PRD.CREL.MT,1961,17059517.0
2,Afghanistan,AFG,Cereal production (metric tons),AG.PRD.CREL.MT,1961,3695000.0
3,Africa Western and Central,AFW,Cereal production (metric tons),AG.PRD.CREL.MT,1961,15199359.0
4,Angola,AGO,Cereal production (metric tons),AG.PRD.CREL.MT,1961,544000.0
...,...,...,...,...,...,...
16221,Kosovo,XKX,Cereal production (metric tons),AG.PRD.CREL.MT,2021,0.0
16222,"Yemen, Rep.",YEM,Cereal production (metric tons),AG.PRD.CREL.MT,2021,0.0
16223,South Africa,ZAF,Cereal production (metric tons),AG.PRD.CREL.MT,2021,0.0
16224,Zambia,ZMB,Cereal production (metric tons),AG.PRD.CREL.MT,2021,0.0
16225,Zimbabwe,ZWE,Cereal production (metric tons),AG.PRD.CREL.MT,2021,0.0

In [34]:
# dropping the column "Indicator Name" & "Indicator Code"
# because its description has been added to the "Cereals(metric tons)" column
# the description of the data set has been giving before loading the data hence no requirement for "Indicator code"
df_prodM = df_prod1.drop(columns=["Indicator Name","Indicator Code"])
df_prodM

                      Country Name Country Code  Date  Cereals(metric tons)
0                            Aruba          ABW  1961                   0.0
1      Africa Eastern and Southern          AFE  1961            17059517.0
2                      Afghanistan          AFG  1961             3695000.0
3       Africa Western and Central          AFW  1961            15199359.0
4                           Angola          AGO  1961              544000.0
...                            ...          ...   ...                   ...
16221                       Kosovo          XKX  2021                   0.0
16222                  Yemen, Rep.          YEM  2021                   0.0
16223                 South Africa          ZAF  2021                   0.0
16224                       Zambia          ZMB  2021                   0.0
16225                     Zimbabwe          ZWE  2021                   0.0

[16226 rows x 4 columns]